*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-image: url(../images/bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__head {
  display: block;
  padding-top: 60px;
  margin-bottom: 23px;
}

.header__head-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 15px;
}

h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  margin-bottom: 30px;
  max-width: 1470px;
  text-align: center;
}

.header__text-call {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  max-width: 1470px;
  margin-bottom: 32px;
}

.header__requisites {
  display: block;
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
}

.header__text-money {
  margin-bottom: 30px;
}

@media (max-width: 720px) {
  .container {
    padding: 0 15px;
  }
  h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
  }
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .header__text-call {
    font-size: 20px;
    line-height: 30px;
  }
  .header__text-money {
    font-size: 22px;
    line-height: 30px;
  }
}

@media (max-width: 555px) {
  .header__text-money {
    font-size: 18px;
  }
}

@media (max-width: 470px) {
  h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  h1 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 15px;
  }
  .header__text-call {
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .header__text-money {
    font-size: 15px;
    line-height: 25px;
  }
}

@media (max-width: 390px) {
  h3 {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 5px;
  }
  .header__text-money {
    font-size: 12px;
    line-height: 22px;
  }
}
